<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".wasm" mimeType="application/octet-stream" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
